.body-glass {
    margin-top: 50px;
    /* position: relative; */
}

#infoModel {
    margin-right: 100px;
    width: 20%;
}

#glassChangeModel {
    width: 20%;
    position: relative;
}

.list-glass{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-glass {
    margin-top: 20px;
    background-color: white;
    width: 1000px;
    padding: 50px;
}

.test {
    position: absolute;
    width: 14rem;
    top: 310px;
    left: 57%;
}